
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

.schedule {
    width: 300px;
}

.station, .separator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120;
    height: 80;
    padding: 10px;
    border: 1px solid #00f;
    background-color: #555;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 10px; /* 角を丸くする */
}

.station-name {
    width: 100%;
    text-align: left;
    color: #fff;
}

.times {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 5px;
}

.time {
    text-align: center;
    color: #fff;
}

.separator {
    height: 20px;
    justify-content: center;
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
